python-telegram-bot[webhooks]>=21.7
yt-dlp[default]>=2026.3.17
python-dotenv>=1.0.0
curl_cffi<0.15,>=0.10
pyrogram>=2.0.106
py-tgcalls>=2.3.0
tgcrypto>=1.2.0
nodejs-bin==18.4.0a4
imageio-ffmpeg>=0.4.9

ytmusicapi==1.12.1
